<!--li class="list-group-item"> -->

<li [ngClass]="{'list-group-item': true,
    'list-group-item-success': post_full.loveIts > 0,
    'list-group-item-danger': post_full.loveIts < 0,
    'list-group-item-light': post_full.loveIts == 0 }">

  <!--
    <div style="width:20px;height:20px;background-color:green;" *ngIf="post_full.loveIts > 0"></div>
    <div style="width:20px;height:20px;background-color:red;" *ngIf="post_full.loveIts < 0"></div>
    <div style="width:20px;height:20px;background-color:aqua;" *ngIf="post_full.loveIts === 0"></div>
    -->
  <!--debug-->
  <!--
  <h5>Je suis un objet de type Post-List-Item {{post_title}}</h5>
  <p>{{post_content}}</p>
  <p>{{title_interne}} -- {{content_interne}}</p>
  -->
  <div>
    <!--<p>Contenu variable post_full</p>-->
    <h4 [ngStyle]="{color: getColor()}">{{post_full.title}}</h4>
    <!--TODO : Trouver le moyen d'aligner le date à droite...-->
    <em>Posté le, {{post_full.created_at | date:'short'}}</em>
    <p [ngStyle]="{color: getColor()}">{{post_full.content}}</p>
    <p>Nb like: {{getLikeNumber()}}</p>
    <!--p>couleur:{{getColor()}}</p-->
  </div>
  <div>

    <!--Ajout des boutons permettant de liker le post.-->
    <div>
      <button class="btn btn-success" (click)="onLike()">J'aime</button>
      <!-- TODO : Trouver comment espacer les boutons. -->
      <button class="btn btn-danger" (click)="onDislike()">J'aime pas</button>
    </div>
  </div>
</li>