<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Liste des posts.</h2>
      <ul class="list-group">
        <!--STEP 3-->
        <!-- Affichage des items dans un composant de type post-list-item-->
        <div *ngFor="let post_item of posts">
          <!--ok-->
          <!--
          <li> {{post_item.title}} -- {{post_item.content}}</li>
          -->
          <em> id: {{post_item.id}}</em>
          <!-- génèration des lignes-->

          <!--version avec des proprietes individuelles-->
          <!--
          <post-list-item [post_title]=post_item.title  [post_content]=post_item.content > </post-list-item>
          -->
          <!--version +compacte, on pzsse directement l'objet "post_item"-->
          <post-list-item [post_full]=post_item> </post-list-item>
        </div>

      </ul>
    </div>
  </div>
</div>